# Convert the .json files into a workable .csv format

## 1. Import the libraries

In [15]:
import pandas as pd
import glob

## 2. Convert the individual .json files into .csv format

In [16]:
pd.read_json("StreamingHistory0.json").to_csv("spotify_0.csv", index = False)
pd.read_json("StreamingHistory1.json").to_csv("spotify_1.csv", index = False)
pd.read_json("StreamingHistory2.json").to_csv("spotify_2.csv", index = False)

## 3. Combine the .csv files into one .csv file

In [18]:
# list all csv files only
csv_files = glob.glob(f"*.csv")
csv_files

['spotify_0.csv', 'spotify_1.csv', 'spotify_2.csv']

In [19]:
df_combined = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)
df_combined.tail()

                endTime  artistName    trackName  msPlayed
27192  2022-11-01 20:05  Madvillain  Fancy Clown    115742
27193  2022-11-01 20:07  Madvillain    Accordion    118670
27194  2022-11-01 20:09  Madvillain         Raid    149968
27195  2022-11-01 20:11     JJ DOOM  Waterlogged    109830
27196  2022-11-01 20:30     JJ DOOM      Guv'nor     49156

## 4. Add a weekday based on the endTime column

In [20]:
df_combined['endTime'] = pd.to_datetime(df_combined['endTime'])
df_combined['dayOfWeek'] = df_combined['endTime'].dt.day_name()
df_combined.tail()

                  endTime  artistName    trackName  msPlayed dayOfWeek
27192 2022-11-01 20:05:00  Madvillain  Fancy Clown    115742   Tuesday
27193 2022-11-01 20:07:00  Madvillain    Accordion    118670   Tuesday
27194 2022-11-01 20:09:00  Madvillain         Raid    149968   Tuesday
27195 2022-11-01 20:11:00     JJ DOOM  Waterlogged    109830   Tuesday
27196 2022-11-01 20:30:00     JJ DOOM      Guv'nor     49156   Tuesday

## 5. Save the combined data

In [21]:
df_combined.to_csv("spotify_data_combined.csv", index = False)